<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>resource/login</url-pattern>
        <url-pattern>resource/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DatasetsServlet</servlet-name>
        <url-pattern>resource/datasets</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DatasetsServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.DatasetsServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>FeaturedServlet</servlet-name>
        <url-pattern>resource/featured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeaturedServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.FeaturedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatasetsServlet</servlet-name>
        <url-pattern>resource/datasets</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DatasetsServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.DatasetsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DatasetServlet</servlet-name>
        <url-pattern>resource/dataset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DatasetServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.DatasetServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ContributionServlet</servlet-name>
        <url-pattern>resource/contribuicao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContributionServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.ContributionServlet</servlet-class>
    </servlet>`
    
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping> 
    <!-- <servlet>
        <servlet-name>HtmlServlet</servlet-name>
        <servlet-class>com.opendatathe.servlet.HtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HtmlServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping> -->
    
    <filter>
	    <description>Requires user to log in as a member</description>
	    <filter-name>LoginFilter</filter-name>
	    <filter-class>com.opendatathe.filter.LoginFilter</filter-class>
	</filter>
	<!-- <filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <servlet-name>ContributionServlet</servlet-name>
	</filter-mapping> -->
	<!-- <filter>
	    <filter-name>AjaxFilter</filter-name>
	    <filter-class>com.opendatathe.filter.AjaxFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>AjaxFilter</filter-name>
	    <servlet-name>/*</servlet-name>
	</filter-mapping> -->

	<servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.opendatathe.servlet.Upload</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>com.opendatathe.servlet.Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
</web-app>